header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 20rem
}


header .navigation {
  width: 70%;
}

header .navigation ul {
  display: flex;
  justify-content: space-between;
}

header .main-logo img {
  width: 4.5rem;
}

header a {
  color: black;
}