footer .info {
  position: relative;
  background-image: url('../../../assets/img/footer-bg.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 2rem
}

footer .info .links {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}

footer .info .links a {
  color: rgb(121,121,121);;
}

footer .info .links > div {
  margin-right: 2rem;
}

footer .info h6 {
  color: white;
  font-size: 1.2rem;
}

footer .info img {
  width: 35rem;
  position: absolute;
  top: -5rem;
  right: 8rem;
}